.img-1{
    margin-right: 50px;
}
.img-2{
    width: 145px;
    height: 145px;
    margin-right: 50px;
}
.img-3{
    width: 145px;
    height: 145px;
    margin-right: 50px;
}
.img-4{
    width: 145px;
    height: 145px;
    margin-right: 50px;
}
.iconos{
    text-align: center;
}
.Telefono{
    color: rgb(0, 97, 53);
}