html, body {
    margin: 0;
    padding: 0;
}
.uanl{
    text-decoration: none;
    color: black !important;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 20px;
    padding: 0px 10px;
}

div#navigation {
    background: #7cb71c;
}

div#navigation li {
    list-style: none;
}

div#extra {
    background: #147FA9;
}


div#footer {
    background: #42444e;
    color: #fff;
}

div#footer p {
    padding: 20px 10px;
}

div#wrapper {
    float: left;
    width: 100%;
    margin-left: -200px
}

div#content {
    margin-left: 200px
}

div#navigation {
    float: right;
    width: 200px
}

div#extra {
    float: right;
    clear: right;
    width: 200px
}


div#footer {
    clear: both;
    width: 100%
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #f4f2ed;
    padding: 0px 10px;
}
.social{
    /*las imágenes usadas tienen width de 48px*/
    position:fixed;
    top:20px;
    right:0;
}
.contenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    padding: 0px 10px;
}
.contenedorlogonombre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logofime{
    width: 50px;
    padding: 20px;
}
.contenedornombre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
    border-left: 1px solid #333333;
}
.nombrefime{
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
}
.contenedorbuscador{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.buscador{
    padding:15px
}
