body {
    margin: 0;
    padding: 0;
}
.uanl{
    text-decoration: none;
    color: black !important;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 20px;
    padding: 0px 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #f4f2ed;
    padding: 0px 10px;
}
.social{
    /*las imágenes usadas tienen width de 48px*/
    position:absolute;
    top:20px;
    right:0;
    padding-right: 10px;
}
.contenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    padding: 0px 10px;
}
.contenedorlogonombre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logofime{
    width: 50px;
    padding: 20px;
}
.contenedornombre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
    border-left: 1px solid #333333;
}
.nombrefime{
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
}
.contenedorbuscador{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.buscador{
    padding:15px
}


footer{
    margin-top: auto;
}
/*Galeria de Noticias*/
  .gridnoticias {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 1em;
    justify-content: center;

  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;

  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(11, 90, 0, 0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }
  .noticiastexto{
    padding-left: 220px;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 30px;
  }
  .americano{
    width: 800px;
    height: 600px;
    padding-left: 10px;
  }