.footer {
    background-color: rgb(0, 97, 53);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerLogos {
    background-color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerImage {
    margin: 20px 25px;
    max-height: 100px;
    padding-left: 15px;
    padding-right: 15px;
}